<div class="row">
  <div class="col-md-4">
    <%= render 'settings/shared/setting_menu.html' %>
  </div>
  <div class="col-md-8">
    <% @notices.each do |notice| %>
      <div class="text-wrap">
        <p style="font-size: 0.8rem;"><%= raw notice.body %></p>
      </div>
      <div class="text-muted">
        <p style="font-size: 0.7rem;"><%= time_ago_in_words(notice.created_at) %>前</p>
      </div>
    <% end %>
  </div>
</div>
