<div class="list-group px-4">
  <%= link_to settings_path, class: 'list-group-item' do %>
    マイページ
  <% end %>
  <%= link_to settings_notices_path, class: 'list-group-item' do %>
    お知らせ
  <% end %>
</div>
