<div class="row">
  <div class="col-md-8 offset-md-2 rounded p-5" style="background-color: #FFFFFF;">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-center">支払い方法</h2>
      <hr class="my-5">

      <%= render partial: '/front/shared/stripe_checkout' %>

      <p class="text-center mt-4"><%= link_to 'もどる', :back %></p>
    </div>
  </div>
</div>
