<div class="p-3">

  <div class="border rounded">

    <h3 class="text-center my-4"><%= user.name %></h3>

    <div class="row">

      <% posts =  if params[:category].present?
                    user.posts.with_category(params[:category]).limit(3).order(created_at: :desc)
                  else
                    user.posts.limit(3).order(created_at: :desc)
                  end
      %>

      <% posts.each do |post| %>

          <div class="col-md-4 p-4">

            <div class="card img-thumbnail">

              <div class="card-img-top bg-info" style="height: 200px;">画像が入ります</div>

              <div class="card-body px-2 py-3">
                <h5 class="card-title"><%= post.category_text %></h5>
                <p class="card-text"><%= post.content %></p>
                <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">詳しく見る</a>

              </div><!-- /.card-body -->

            </div><!-- /.card -->

          </div><!-- /.col-sm-6.col-md-3 -->
        
      <% end %>

    </div>

  </div>

</div>
