<div class="col-md-6 p-3">

  <div class="border">

    <h3 class="text-center my-4"><%= user.name %></h3>

    <div class="row">

      <% posts =  if params[:category].present?
                    user.posts.with_category(params[:category]).limit(4).order(created_at: :desc)
                  else
                    user.posts.limit(4).order(created_at: :desc)
                  end
      %>

      <% posts.each do |post| %>

        <div class="col-md-6">

          <div><%= post.category_text %></div>
          <div class="mb-3"><%= post.content %></div>

        </div>
        
      <% end %>

    </div>

  </div>

</div>
