<div class="col-md-4 col-sm-6 mb-5">
  <div class="card">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/></svg>
    <div class="card-body">
      <%= link_to article_path(article) do %>
        <p class="card-title font-weight-bold"><%= article.body %></p>
      <% end %>
    </div>
  </div>
</div>
