<div class="col-md-8 offset-md-2 rounded mt-4 p-5" style="background-color: #FFFFFF;">

  <div id="comments_list">
    <%= render partial: 'front/comments/comment', collection: comments %>
  </div>

  <p class="bg-warning rounded p-2">
    相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  </p>

  <%= react_component("Comment", { item_id: item.id }) %>

</div>
