<div class="col-md-3 mb-3">
  <%= link_to item_path(item) do %>
    <div class="card">
      <%= image_tag item.first_image, class: 'img-thumbnail', style: 'height: 150px;' %>
      <div class="card-body">
        <span>¥<%= item.price %></span>
        <p class="card-title"><%= item.name %></p>
      </div>
    </div>
  <% end %>
</div>
