<ol class="breadcrumb mt-3">
  <li class="breadcrumb-item"><%= link_to 'ホーム', admin_root_path %></li>
  <li class="breadcrumb-item"><%= link_to 'カテゴリ一覧', admin_categories_path %></li>
  <li class="breadcrumb-item active" aria-current="page">カテゴリ順番編集</li>
</ol>

