@import "bootstrap";

body {
  background-color: #f5f5f5;
}

// ヘッダー
.dropdown:hover > .dropdown-menu {
  display: block;
}

// エラーメッセージ
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

#chat_message-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem 1rem 8rem 1rem;
}

// メッセージ投稿フォーム
footer {
  max-width: 768px;
  padding: 1rem;
  margin: 0 auto;
  background-color: white;
}

.btn-primary.disabled {
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: auto;
}

// ユーザーがフォームサイズを自由に変更できる機能を停止させておく
#chat_message_content {
  resize: none;
}

/* モダール */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  width: 600px;
  margin: 30px auto;
  border-radius: 10px;
}

.search-result {
  height: 350px;
  overflow: scroll;
}

.added-user-item {
  background-color: #afeeee;
  border-radius: 5px;
}

// コメント
.comment-area {
  width: 550px;
  padding: 20px;
  background-color: #eef0f4;
  border-radius: 20px;
}

// 管理画面
.admin-sidebar {
  ul {
    li {
      list-style: none;

      span {
        color: white;
      }
    }
  }
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
