@import "bootstrap";

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}


#chat_message-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem 1rem 8rem 1rem;
}

// メッセージ投稿フォーム
footer {
  max-width: 768px;
  padding: 1rem;
  margin: 0 auto;
  background-color: white;
}
