<div class="bg-dark py-2 admin-sidebar">
  <ul>
    <li class="mt-2 p-2"><span>商品一覧</span></li>
    <li class="mt-3 p-2"><span>商品一覧</span></li>
    <li class="mt-3 p-2"><span>商品一覧</span></li>
    <li class="mt-3 p-2"><span>商品一覧</span></li>
  </ul>
</div>
