<nav class="navbar navbar-dark bg-dark align-content-start" style="height: 100%;">
  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link_to '商品一覧', admin_items_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'カテゴリ一覧', admin_categories_path, class: 'nav-link' %>
    </li>
    <li class="nav-item"><a href="#" class="nav-link">Item#3</a></li>
  </ul>
</nav>
